**/config.json
cmd/web/config.json
configs.json
*.md
*.txt
*.bat
test_app
test_build
web.exe
/cmd/web/web.exe
/init
.env
/ios_rearranged
.DS_Store
.idea
.vscode
.DS_Store
*.env
post_cmd.txt
pre_cmd.txt
app.log
/tmp